@import "tailwindcss";

:root {
  --primary: rgb(179, 144, 99);
  --secondary: #f5f2ed;
  --bg: #ffffff;
  --text: #58606e;
}

.font-heading {
  font-family: "Cormorant Garamond", serif;
}

.font-subtitle {
  font-family: "Manrope", sans-serif;
}

* {
  box-sizing: border-box;
  scrollbar-width: none;
}

img: div {
  max-width: 100%;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: "Manrope", sans-serif;
  overflow-x: hidden;
  max-width: 100%;
}

/* Navbar */
.navbar {
  @apply flex items-center justify-between font-medium px-4 sm:px-[5vw] md:px-[7vw] lg:px-[9vw] py-5 md:py-7 bg-transparent;
}

.logo .brand-name {
  font-family: "Elsie Swash Caps", serif;
  @apply text-[var(--primary)] text-3xl;
}

.nav-list {
  @apply hidden sm:flex justify-between items-center mr-2 gap-5 text-sm text-[var(--text)];
}

.nav-list ul {
  @apply flex justify-evenly items-center gap-6 mr-5;
}

.nav-link {
  @apply relative text-[var(--text)] text-sm pb-1.5 transition-colors duration-300 ease-in-out;
  font-family: "Manrope", sans-serif;
}

.nav-link::after {
  content: "";
  @apply absolute left-0 bottom-0 w-full h-[1.5px] bg-[var(--primary)];
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav-link:hover::after,
.nav-link.active::after {
  transform: scaleX(1);
}

.nav-link.active,
.nav-link:hover {
  @apply text-[var(--primary)];
}

.nav-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 18px;
}

.nav-icons .icon {
  font-size: 20px;
  cursor: pointer;
  color: var(--primary);
  transition: transform 0.2s ease;
}

.nav-icons .icon:hover {
  transform: scale(1.05);
}

.dropdown-list {
  @apply flex flex-col gap-2 w-36 py-3 px-5 bg-[var(--secondary)] text-[var(--text)] rounded;
}

.dropdown-list .list-item {
  @apply flex items-center gap-2 cursor-pointer hover:text-[var(--primary)];
}

.cart-count {
  @apply absolute right-[-7px] bottom-[-7px] w-4 text-center leading-4 bg-[var(--primary)] text-[var(--bg)] aspect-square rounded-full text-[8px];
}

.navbar-overlay {
  @apply fixed inset-0 bg-black/30 opacity-0 pointer-events-none transition-all duration-300 z-100;
  backdrop-filter: blur(6px);
}

.navbar-overlay.open {
  @apply opacity-100 pointer-events-auto;
}

.nav-sidebar {
  @apply absolute top-0 right-0 h-full w-72 bg-[var(--bg)] shadow-2xl transform translate-x-full transition-transform duration-300 rounded-l-2xl;
}

.navbar-overlay.open .nav-sidebar {
  @apply translate-x-0;
}

.nav-header {
  @apply flex items-center gap-3 px-6 py-5 border-b border-[rgba(0,0,0,0.05)] text-[var(--text)] font-medium cursor-pointer;
}

.nav-header span {
  @apply text-sm tracking-wide;
}

.mobile-nav {
  @apply flex flex-col mt-2;
}

.mobile-nav a {
  @apply px-8 py-4 text-[15px] text-[var(--text)] border-b border-[rgba(0,0,0,0.04)] transition-colors duration-200 rounded-md tracking-wide;
}

.mobile-nav a:hover {
  @apply text-[var(--primary)] bg-[var(--secondary)];
}

.mobile-nav a.active {
  @apply text-[var(--primary)];
}

/* Home - HERO */
.hero {
  @apply flex flex-col lg:flex-row justify-center lg:justify-between items-center w-full min-h-screen lg:min-h-[87vh] bg-[var(--secondary)] px-4 sm:px-[5vw] md:px-[7vw] lg:px-[9vw] py-12 lg:py-5 gap-12 lg:gap-24;
}

.hero-content {
  @apply flex flex-col text-center lg:text-left gap-5 max-w-2xl;
}

.hero-content p {
  font-family: "Cormorant Garamond", serif;
  @apply text-3xl sm:text-5xl md:text-6xl lg:text-7xl font-normal text-[var(--primary)] leading-tight;
}

.hero-content button {
  @apply bg-transparent border border-[var(--primary)] py-2 px-6 md:py-3 md:px-10 cursor-pointer w-fit rounded-full mx-auto lg:mx-0 transition-colors duration-300 ease-in-out;
}

.hero-btn {
  @apply text-[var(--primary)] bg-transparent text-sm md:text-lg lg:text-xl transition-colors duration-300 ease-in-out;
  font-family: "Manrope", sans-serif;
}

.hero-content button:hover {
  @apply bg-[var(--primary)] text-white;
}

.hero-content button:hover .hero-btn {
  @apply text-white;
}

.hero-img {
  @apply relative flex justify-center items-center;
}

.hero-img img {
  @apply object-cover rounded-xl;
}

.hero-main-img {
  @apply w-[75vw] sm:w-[320px] md:w-[380px] lg:w-[400px] h-[450px] sm:h-[500px] lg:h-[550px] object-cover rounded-lg md:mr-14;
}

.hero-img .hero-accent-img {
  @apply absolute top-[55%] right-[-30px] translate-y-[-50%] w-28 h-40 sm:w-32 sm:h-48 md:w-36 md:h-52 lg:w-44 lg:h-[250px];
  border-radius: 90px 90px 0 0;
}

.img-icon {
  @apply absolute top-[228px] right-1 md:top-[255px] md:right-4 lg:top-[276px] lg:left-[374px] text-white text-4xl z-10 opacity-70 cursor-pointer transition-transform duration-500 hover:scale-105 hover:opacity-100;
}

/* FEATURES */
.features-grid {
  @apply bg-[var(--bg)] flex flex-col md:flex-row justify-center items-center gap-10 md:gap-16 py-14 px-5;
}

.features-grid div {
  @apply flex flex-col justify-center items-center gap-2.5;
}

.features-grid div h3 {
  @apply font-semibold text-lg lg:text-xl;
  font-family: "Cormorant Garamond", serif;
}

.features-grid div p {
  @apply text-center w-full sm:w-1/2 md:w-[70%] text-xs lg:text-sm opacity-80 tracking-wider;
  line-height: 1.5;
  font-family: "Manrope", sans-serif;
}

.features-grid .icon {
  color: var(--primary);
}

/* SIGNATURE PIECES */
.signature {
  @apply flex flex-col lg:flex-row justify-between items-center gap-10 lg:gap-20  bg-[var(--bg)] px-4 sm:px-[5vw] md:px-[7vw] lg:px-[9vw] py-5 md:py-7 overflow-x-hidden;
}

.sig-content {
  @apply flex flex-col items-center lg:items-start text-center lg:text-left gap-4 max-w-xl leading-1;
}

.sig-content button {
  @apply flex justify-start mt-3.5 transition-colors duration-300;
}

.sig-content button .btn {
  @apply bg-transparent border border-[var(--primary)] px-6 py-4 md:px-9 md:py-3 rounded-full cursor-pointer w-fit text-[var(--primary)] text-sm md:text-lg text-center md:text-left transition-colors duration-300;
  font-family: "Manrope", sans-serif;
}

.sig-content button .btn:hover {
  @apply border-transparent bg-[var(--primary)] text-white;
}

.sig-grid {
  @apply flex flex-nowrap gap-4 overflow-x-auto overflow-y-hidden py-4 bg-[var(--bg)];
  max-width: 100%;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}

.product-item {
  @apply flex-shrink-0 w-[200px] sm:w-[240px] md:w-[260px] relative flex flex-col bg-white rounded-lg border border-[rgba(0,0,0,0.05)] pb-3.5 scroll-smooth;
  scroll-snap-align: start;
}

.product-item img {
  @apply w-full h-[180px] sm:h-[200px] md:h-[220px] lg:h-[320px] object-cover;
  border-radius: 10px 10px 0 0;
}

.product-item h3 {
  font-family: "Cormorant Garamond", serif;
  @apply text-xl text-gray-950 font-semibold ml-2.5 px-3 py-2.5;
}

.product-item p {
  font-family: "Manrope", sans-serif;
  @apply text-[16px] text-[var(--text)] font-medium ml-2.5 px-3;
}

.product-item .tag {
  @apply absolute bottom-32 right-2 md:bottom-24 md:right-3 text-xs rounded-full text-white tracking-wider px-2 md:px-2.5 py-1;
  font-family: "Manrope", sans-serif;
}

.product-item .tag.new {
  background: #9c6644;
}

.product-item .tag.limited {
  background: #b39063;
}

.product-item .tag.best {
  background: #8c6f4f;
}

.product-item .tag.exclusive {
  background: #5e4b3c;
}

.product-item .tag.handmade {
  background: #cd9777;
}

/* CATALOG */
.catalog {
  @apply flex flex-col items-center text-center px-4 sm:px-[5vw] md:px-[7vw] lg:px-[9vw] bg-[var(--bg)] py-5 md:py-7 lg:py-9 pt-3;
}

.cat-content {
  @apply flex flex-col items-center text-center lg:text-left gap-4 max-w-xl lg:w-4xl py-2 lg:py-4;
}

.cat-content h2 {
  @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-medium text-[var(--primary)] mb-1.5;
  font-family: "Cormorant Garamond", serif;
}

.cat-grid {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-9 mt-8;
}

.cat-item {
  @apply flex flex-col gap-2 w-96 pb-4 mt-5;
}

.cat-img {
  @apply relative overflow-hidden rounded-xl;
}

.cat-img img {
  @apply w-full h-[400px] object-cover block transition-transform duration-300 ease-in-out;
  border-radius: 10px 10px 0 0;
}

.cat-img::after {
  content: "";
  @apply absolute inset-0 bg-[rgba(0,0,0,0.25)] opacity-0 transition-opacity duration-300 ease-in-out;
}

.cat-img p {
  @apply absolute left-[50%] bottom-[20%] opacity-0 text-white text-lg bg-[rgba(179,144,99,0.85)] py-1.5 px-3 rounded-xl transition-all duration-300 ease-in-out text-center;
  transform: translate(-50%, 20%);
  font-family: "Cormorant Garamond", serif;
}

.cat-item:hover .cat-img img {
  transform: scale(1.05);
}

.cat-item:hover .cat-img::after {
  opacity: 1;
}

.cat-item:hover .cat-img p {
  opacity: 1;
  transform: translate(-50%, 0);
}

.cat-item:nth-child(2),
.cat-item:nth-child(5) {
  transform: translateY(-24px);
}

.catalog button {
  @apply flex justify-start mt-3.5 transition-colors duration-300;
}

.catalog button .btn {
  @apply bg-transparent border border-[var(--primary)] px-6 py-4 md:px-9 md:py-3 rounded-full cursor-pointer w-fit text-[var(--primary)] text-sm md:text-lg text-center md:text-left transition-colors duration-300;
  font-family: "Manrope", sans-serif;
}

.catalog button .btn:hover {
  @apply border-transparent bg-[var(--primary)] text-white;
}
